## SIGNATE Assessment

In [1]:
import sys
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

%matplotlib inline

import check_miss_value as chv

Using TensorFlow backend.

In [3]:
train_pd = pd.read_pickle('./train.pk1')
test_pd = pd.read_pickle('./test.pk1')

In [4]:
train_pd.shape, test_pd.shape

((55175, 12), (18528, 11))

In [5]:
train_pd.describe()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
count,55175.000000,55175.000000,55175.000000,55175.000000,55175.000000,55175.000000,55175.000000,55175.000000,55175.000000,55175.000000,55175.000000,55175.000000
mean,27792.028944,3.158496,1.195179,1.266298,1.713983,0.264794,0.003045,0.327576,0.737689,20.933158,94.520616,160.366706
std,16044.979801,2.155461,0.548399,0.850715,1.259778,0.441227,0.055097,0.469333,0.439895,37.964139,6.906614,168.356651
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,1.000000
25%,13902.500000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,93.000000,75.000000
50%,27784.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,6.000000,96.000000,112.000000
75%,41687.500000,4.000000,1.000000,1.000000,2.000000,1.000000,0.000000,1.000000,1.000000,23.000000,99.000000,185.000000
max,55582.000000,16.000000,8.000000,10.000000,18.000000,1.000000,1.000000,1.000000,1.000000,605.000000,100.000000,1999.000000

In [6]:
test_pd.describe()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating
count,18528.000000,18528.000000,18528.000000,18528.000000,18528.000000,18528.000000,18528.000000,18528.000000,18528.000000,18528.000000,18528.000000
mean,9263.500000,3.161863,1.189713,1.266947,1.706822,0.266947,0.003022,0.324050,0.735427,20.790425,94.477386
std,5348.717229,2.155397,0.539284,0.860160,1.242269,0.442377,0.054895,0.468031,0.441117,37.457273,7.037526
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000
25%,4631.750000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,93.000000
50%,9263.500000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,6.000000,96.000000
75%,13895.250000,4.000000,1.000000,1.000000,2.000000,1.000000,0.000000,1.000000,1.000000,23.000000,99.000000
max,18527.000000,16.000000,8.000000,10.000000,16.000000,1.000000,1.000000,1.000000,1.000000,451.000000,100.000000

In [7]:
train_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55175 entries, 0 to 55582
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      55175 non-null  int64
 1   accommodates            55175 non-null  int8
 2   bathrooms               55175 non-null  int8
 3   bedrooms                55175 non-null  int8
 4   beds                    55175 non-null  int8
 5   cleaning_fee            55175 non-null  int8
 6   host_has_profile_pic    55175 non-null  int8
 7   host_identity_verified  55175 non-null  int8
 8   instant_bookable        55175 non-null  int8
 9   number_of_reviews       55175 non-null  int16
 10  review_scores_rating    55175 non-null  int8
 11  y                       55175 non-null  float64
dtypes: float64(1), int16(1), int64(1), int8(9)
memory usage: 1.8 MB

In [8]:
test_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18528 entries, 0 to 18527
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      18528 non-null  int64
 1   accommodates            18528 non-null  int8
 2   bathrooms               18528 non-null  int8
 3   bedrooms                18528 non-null  int8
 4   beds                    18528 non-null  int8
 5   cleaning_fee            18528 non-null  int8
 6   host_has_profile_pic    18528 non-null  int8
 7   host_identity_verified  18528 non-null  int8
 8   instant_bookable        18528 non-null  int8
 9   number_of_reviews       18528 non-null  int16
 10  review_scores_rating    18528 non-null  int8
dtypes: int16(1), int64(1), int8(9)
memory usage: 343.9 KB

In [9]:
train_pd.head()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
0,0,6,2,1,4,0,0,1,1,1,60,138.0
1,1,2,1,1,1,0,0,0,1,9,100,42.0
2,2,2,2,1,1,0,0,1,0,27,83,65.0
3,3,2,1,1,1,0,0,0,0,38,95,166.0
4,4,2,1,1,1,0,0,0,1,5,100,165.0

In [10]:
test_pd.head()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating
0,0,6,2,2,2,0,0,1,0,58,90
1,1,3,1,1,1,0,0,0,1,4,100
2,2,2,1,0,1,1,0,0,1,0,96
3,3,4,1,1,2,1,0,0,1,0,96
4,4,3,1,1,2,0,0,0,1,6,92

In [11]:
train_pd.corr()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
id,1.000000,0.005201,0.004088,0.002500,0.005908,0.006321,0.002018,0.007509,-0.005149,0.004001,0.001842,-0.000715
accommodates,0.005201,1.000000,0.491580,0.709035,0.806672,-0.181362,0.007382,-0.059439,-0.054270,0.042826,-0.022903,0.522558
bathrooms,0.004088,0.491580,1.000000,0.565346,0.514726,-0.055771,0.007324,-0.012300,-0.006925,-0.036436,0.004194,0.440756
bedrooms,0.002500,0.709035,0.565346,1.000000,0.708355,-0.106500,0.004355,-0.025696,0.000684,-0.033543,0.008988,0.495945
beds,0.005908,0.806672,0.514726,0.708355,1.000000,-0.132100,0.001580,-0.036679,-0.053883,0.031678,-0.029943,0.435581
cleaning_fee,0.006321,-0.181362,-0.055771,-0.106500,-0.132100,1.000000,0.019022,0.161840,0.008998,-0.107915,0.003068,-0.029631
host_has_profile_pic,0.002018,0.007382,0.007324,0.004355,0.001580,0.019022,1.000000,0.074974,-0.010418,-0.020725,0.001359,0.021031
host_identity_verified,0.007509,-0.059439,-0.012300,-0.025696,-0.036679,0.161840,0.074974,1.000000,-0.088578,-0.160461,-0.025282,0.009853
instant_bookable,-0.005149,-0.054270,-0.006925,0.000684,-0.053883,0.008998,-0.010418,-0.088578,1.000000,-0.076568,0.063479,0.026204
number_of_reviews,0.004001,0.042826,-0.036436,-0.033543,0.031678,-0.107915,-0.020725,-0.160461,-0.076568,1.000000,-0.022745,-0.068744
review_scores_rating,0.001842,-0.022903,0.004194,0.008988,-0.029943,0.003068,0.001359,-0.025282,0.063479,-0.022745,1.000000,0.061530
y,-0.000715,0.522558,0.440756,0.495945,0.435581,-0.029631,0.021031,0.009853,0.026204,-0.068744,0.061530,1.000000

In [12]:
train_pd.corr()[train_pd.corr() > 0.3]

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
id,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
accommodates,NaN,1.000000,0.491580,0.709035,0.806672,NaN,NaN,NaN,NaN,NaN,NaN,0.522558
bathrooms,NaN,0.491580,1.000000,0.565346,0.514726,NaN,NaN,NaN,NaN,NaN,NaN,0.440756
bedrooms,NaN,0.709035,0.565346,1.000000,0.708355,NaN,NaN,NaN,NaN,NaN,NaN,0.495945
beds,NaN,0.806672,0.514726,0.708355,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.435581
cleaning_fee,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
host_has_profile_pic,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
host_identity_verified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
instant_bookable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
number_of_reviews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
review_scores_rating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
y,NaN,0.522558,0.440756,0.495945,0.435581,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [13]:
train_pd.corr()[train_pd.corr() < -0.3]

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
accommodates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bathrooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bedrooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
beds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cleaning_fee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_has_profile_pic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_identity_verified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
instant_bookable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_reviews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_scores_rating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
train_pd.corr()[['y']]

                               y
id                     -0.000715
accommodates            0.522558
bathrooms               0.440756
bedrooms                0.495945
beds                    0.435581
cleaning_fee           -0.029631
host_has_profile_pic    0.021031
host_identity_verified  0.009853
instant_bookable        0.026204
number_of_reviews      -0.068744
review_scores_rating    0.061530
y                       1.000000

In [15]:
chv.check_miss_value(train_pd)

C:\Users\owner\codexa\600_SIGNATE\001_Assessment\001\check_miss_value.py:16: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  miss_table.coulmns = ['欠損数', '%']

                        欠損数    %
id                        0  0.0
accommodates              0  0.0
bathrooms                 0  0.0
bedrooms                  0  0.0
beds                      0  0.0
cleaning_fee              0  0.0
host_has_profile_pic      0  0.0
host_identity_verified    0  0.0
instant_bookable          0  0.0
number_of_reviews         0  0.0
review_scores_rating      0  0.0
y                         0  0.0

## Trainデータ編集

In [60]:
train_cp = train_pd.copy()

In [61]:
train_cp.head()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
0,0,6,2,1,4,0,0,1,1,1,60,138.0
1,1,2,1,1,1,0,0,0,1,9,100,42.0
2,2,2,2,1,1,0,0,1,0,27,83,65.0
3,3,2,1,1,1,0,0,0,0,38,95,166.0
4,4,2,1,1,1,0,0,0,1,5,100,165.0

In [62]:
sscalar = preprocessing.StandardScaler(copy=True)

In [63]:
train_cp['accommodates'] = sscalar.fit_transform(train_cp[['accommodates']])

In [64]:
train_cp['bathrooms'] = sscalar.fit_transform(train_cp[['bathrooms']])

In [65]:
train_cp['bedrooms'] = sscalar.fit_transform(train_cp[['bedrooms']])

In [66]:
train_cp['beds'] = sscalar.fit_transform(train_cp[['beds']])

In [67]:
train_cp['number_of_reviews'] = sscalar.fit_transform(train_cp[['number_of_reviews']])

In [68]:
train_cp['review_scores_rating'] = sscalar.fit_transform(train_cp[['review_scores_rating']])

In [69]:
train_cp.head()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
0,0,1.318294,1.467596,-0.313032,1.814636,0,0,1,1,-0.525057,-4.998242,138.0
1,1,-0.537475,-0.355910,-0.313032,-0.566758,0,0,0,1,-0.314330,0.793360,42.0
2,2,-0.537475,1.467596,-0.313032,-0.566758,0,0,1,0,0.159806,-1.668071,65.0
3,3,-0.537475,-0.355910,-0.313032,-0.566758,0,0,0,0,0.449556,0.069410,166.0
4,4,-0.537475,-0.355910,-0.313032,-0.566758,0,0,0,1,-0.419694,0.793360,165.0

In [70]:
train_cp.describe()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
count,55175.000000,5.517500e+04,5.517500e+04,5.517500e+04,5.517500e+04,55175.000000,55175.000000,55175.000000,55175.000000,5.517500e+04,5.517500e+04,55175.000000
mean,27792.028944,8.757029e-17,-4.481538e-17,-9.813023e-17,2.652865e-17,0.264794,0.003045,0.327576,0.737689,4.056565e-17,-1.493846e-16,160.366706
std,16044.979801,1.000009e+00,1.000009e+00,1.000009e+00,1.000009e+00,0.441227,0.055097,0.469333,0.439895,1.000009e+00,1.000009e+00,168.356651
min,0.000000,-1.001417e+00,-2.179416e+00,-1.488524e+00,-1.360556e+00,0.000000,0.000000,0.000000,0.000000,-5.513979e-01,-1.078984e+01,1.000000
25%,13902.500000,-5.374750e-01,-3.559100e-01,-3.130316e-01,-5.667580e-01,0.000000,0.000000,0.000000,0.000000,-5.250570e-01,-2.201701e-01,75.000000
50%,27784.000000,-5.374750e-01,-3.559100e-01,-3.130316e-01,-5.667580e-01,0.000000,0.000000,0.000000,1.000000,-3.933526e-01,2.142001e-01,112.000000
75%,41687.500000,3.904093e-01,-3.559100e-01,-3.130316e-01,2.270399e-01,1.000000,0.000000,1.000000,1.000000,5.444245e-02,6.485703e-01,185.000000
max,55582.000000,5.957716e+00,1.240863e+01,1.026640e+01,1.292781e+01,1.000000,1.000000,1.000000,1.000000,1.538484e+01,7.933603e-01,1999.000000

In [71]:
chv.check_miss_value(train_cp)

C:\Users\owner\codexa\600_SIGNATE\001_Assessment\001\check_miss_value.py:16: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  miss_table.coulmns = ['欠損数', '%']

                        欠損数    %
id                        0  0.0
accommodates              0  0.0
bathrooms                 0  0.0
bedrooms                  0  0.0
beds                      0  0.0
cleaning_fee              0  0.0
host_has_profile_pic      0  0.0
host_identity_verified    0  0.0
instant_bookable          0  0.0
number_of_reviews         0  0.0
review_scores_rating      0  0.0
y                         0  0.0

In [73]:
train_cp[['accommodates', 'bathrooms', 'bedrooms', 'beds', 'number_of_reviews', 'review_scores_rating']] = train_cp[['accommodates', 'bathrooms', 'bedrooms', 'beds', 'number_of_reviews', 'review_scores_rating']].astype('float16')

In [74]:
train_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55175 entries, 0 to 55582
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      55175 non-null  int64
 1   accommodates            55175 non-null  float16
 2   bathrooms               55175 non-null  float16
 3   bedrooms                55175 non-null  float16
 4   beds                    55175 non-null  float16
 5   cleaning_fee            55175 non-null  int8
 6   host_has_profile_pic    55175 non-null  int8
 7   host_identity_verified  55175 non-null  int8
 8   instant_bookable        55175 non-null  int8
 9   number_of_reviews       55175 non-null  float16
 10  review_scores_rating    55175 non-null  float16
 11  y                       55175 non-null  float64
dtypes: float16(6), float64(1), int64(1), int8(4)
memory usage: 2.1 MB

## Testデータ編集

In [75]:
test_cp = test_pd.copy()

In [76]:
sscalar = preprocessing.StandardScaler(copy=True)

In [77]:
test_cp['accommodates'] = sscalar.fit_transform(test_cp[['accommodates']])

In [78]:
test_cp['bathrooms'] = sscalar.fit_transform(test_cp[['bathrooms']])

In [79]:
test_cp['bedrooms'] = sscalar.fit_transform(test_cp[['bedrooms']])

In [80]:
test_cp['beds'] = sscalar.fit_transform(test_cp[['beds']])

In [81]:
test_cp['number_of_reviews'] = sscalar.fit_transform(test_cp[['number_of_reviews']])

In [82]:
test_cp['review_scores_rating'] = sscalar.fit_transform(test_cp[['review_scores_rating']])

In [83]:
chv.check_miss_value(test_cp)

C:\Users\owner\codexa\600_SIGNATE\001_Assessment\001\check_miss_value.py:16: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  miss_table.coulmns = ['欠損数', '%']

                        欠損数    %
id                        0  0.0
accommodates              0  0.0
bathrooms                 0  0.0
bedrooms                  0  0.0
beds                      0  0.0
cleaning_fee              0  0.0
host_has_profile_pic      0  0.0
host_identity_verified    0  0.0
instant_bookable          0  0.0
number_of_reviews         0  0.0
review_scores_rating      0  0.0

In [86]:
test_cp[['accommodates', 'bathrooms', 'bedrooms', 'beds', 'number_of_reviews', 'review_scores_rating']] = test_cp[['accommodates', 'bathrooms', 'bedrooms', 'beds', 'number_of_reviews', 'review_scores_rating']].astype('float16')

In [87]:
test_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18528 entries, 0 to 18527
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      18528 non-null  int64
 1   accommodates            18528 non-null  float16
 2   bathrooms               18528 non-null  float16
 3   bedrooms                18528 non-null  float16
 4   beds                    18528 non-null  float16
 5   cleaning_fee            18528 non-null  int8
 6   host_has_profile_pic    18528 non-null  int8
 7   host_identity_verified  18528 non-null  int8
 8   instant_bookable        18528 non-null  int8
 9   number_of_reviews       18528 non-null  float16
 10  review_scores_rating    18528 non-null  float16
dtypes: float16(6), int64(1), int8(4)
memory usage: 434.4 KB

## pickleファイルに保存

In [88]:
train_cp.to_pickle('train.pk2')
test_cp.to_pickle('test.pk2')

In [89]:
train_cp.shape, test_cp.shape

((55175, 12), (18528, 11))

In [90]:
train_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55175 entries, 0 to 55582
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      55175 non-null  int64
 1   accommodates            55175 non-null  float16
 2   bathrooms               55175 non-null  float16
 3   bedrooms                55175 non-null  float16
 4   beds                    55175 non-null  float16
 5   cleaning_fee            55175 non-null  int8
 6   host_has_profile_pic    55175 non-null  int8
 7   host_identity_verified  55175 non-null  int8
 8   instant_bookable        55175 non-null  int8
 9   number_of_reviews       55175 non-null  float16
 10  review_scores_rating    55175 non-null  float16
 11  y                       55175 non-null  float64
dtypes: float16(6), float64(1), int64(1), int8(4)
memory usage: 2.1 MB

In [91]:
test_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18528 entries, 0 to 18527
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      18528 non-null  int64
 1   accommodates            18528 non-null  float16
 2   bathrooms               18528 non-null  float16
 3   bedrooms                18528 non-null  float16
 4   beds                    18528 non-null  float16
 5   cleaning_fee            18528 non-null  int8
 6   host_has_profile_pic    18528 non-null  int8
 7   host_identity_verified  18528 non-null  int8
 8   instant_bookable        18528 non-null  int8
 9   number_of_reviews       18528 non-null  float16
 10  review_scores_rating    18528 non-null  float16
dtypes: float16(6), int64(1), int8(4)
memory usage: 434.4 KB

In [92]:
train_cp.head()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,y
0,0,1.318359,1.467773,-0.312988,1.814453,0,0,1,1,-0.524902,-5.000000,138.0
1,1,-0.537598,-0.355957,-0.312988,-0.566895,0,0,0,1,-0.314209,0.793457,42.0
2,2,-0.537598,1.467773,-0.312988,-0.566895,0,0,1,0,0.159790,-1.667969,65.0
3,3,-0.537598,-0.355957,-0.312988,-0.566895,0,0,0,0,0.449463,0.069397,166.0
4,4,-0.537598,-0.355957,-0.312988,-0.566895,0,0,0,1,-0.419678,0.793457,165.0

In [93]:
test_cp.head()

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating
0,0,1.316406,1.502930,0.852051,0.235962,0,0,1,0,0.993652,-0.636230
1,1,-0.075073,-0.351807,-0.310303,-0.568848,0,0,0,1,-0.448242,0.784668
2,2,-0.539062,-0.351807,-1.472656,-0.568848,1,0,0,1,-0.555176,0.216309
3,3,0.388916,-0.351807,-0.310303,0.235962,1,0,0,1,-0.555176,0.216309
4,4,-0.075073,-0.351807,-0.310303,0.235962,0,0,0,1,-0.394775,-0.352051

In [94]:
train_cp.corr()['y']

id                       -0.000715
accommodates              0.522560
bathrooms                 0.440754
bedrooms                  0.495946
beds                      0.435581
cleaning_fee             -0.029631
host_has_profile_pic      0.021031
host_identity_verified    0.009853
instant_bookable          0.026204
number_of_reviews        -0.068738
review_scores_rating      0.061530
y                         1.000000
Name: y, dtype: float64

In [95]:
test_cp.corr()[test_cp.corr() > 0.3]

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating
id,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
accommodates,NaN,1.000000,0.506103,0.711481,0.823407,NaN,NaN,NaN,NaN,NaN,NaN
bathrooms,NaN,0.506103,1.000000,0.581903,0.519382,NaN,NaN,NaN,NaN,NaN,NaN
bedrooms,NaN,0.711481,0.581903,1.000000,0.713045,NaN,NaN,NaN,NaN,NaN,NaN
beds,NaN,0.823407,0.519382,0.713045,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
cleaning_fee,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
host_has_profile_pic,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
host_identity_verified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
instant_bookable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
number_of_reviews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
review_scores_rating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [96]:
test_cp.corr()[test_cp.corr() < -0.3]

,id,accommodates,bathrooms,bedrooms,beds,cleaning_fee,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating
id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
accommodates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bathrooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bedrooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
beds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cleaning_fee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_has_profile_pic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_identity_verified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
instant_bookable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_reviews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review_scores_rating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN